<div class="card text-bg-dark">
    <img src="https://b.zmtcdn.com/webFrontend/8015dbe54fd3659cc0366c1cc77f664c1601890512.jpeg?output-format=webp"
        class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title" style="font-size: 3 rem;">We would love to hear from you!</h5>
    </div>
</div>
<br><br>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name*">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Mail ID*">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Mobile Number(Optional)</label>
    <input type="phonenumber" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Mobile Number*">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text Us</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-danger">Submit Feedback</button>
  </div>