<br /><br />
<a routerLink="/products" class="btn btn-primary">Go back</a>
<br /><br />
<div class="container">
  <div class="row">
    <div class="card col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{ product?.name }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p>Price: {{ product?.price }}</p>
        <p>Quantity: {{ product?.quantity }}</p>
        <p>Category: {{ product?.category }}</p>
        <button routerLink="edit" class="btn btn-primary mr-1"> Edit </button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
