<!-- Navigation bar with fixed position at the top of the page, using Bootstrap classes -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- Container to center the navbar content -->
    <div class="container-fluid">
      
      <!-- Brand name (link) for the application, usually the logo or app name -->
      <a class="navbar-brand app-name" routerLink="/">Go Food</a>
      
      <!-- Button that toggles the collapse of the navbar (for smaller screens) -->
      <button class="navbar-toggler" type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarCollapse"  
              aria-controls="navbarCollapse"  
              aria-expanded="false"  
              aria-label="Toggle navigation"> 
        
        <!-- Icon displayed on the navbar toggle button (hamburger icon) -->
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible section that contains the menu items (only visible on larger screens) -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Custom Angular component that represents the menu list -->
        <app-menu-list></app-menu-list>
      </div>
      
    </div>
  </nav>
  